body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
nav{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  flex-wrap: wrap;
  width:100%;
  justify-content: space-around;
  background-color:gray;
  align-items: center;
}
button{
  padding:5px 10px;
  margin:0 5px;
  cursor: pointer;
  border:none;
  border-radius: 3px;
  font-size: 15px;
  box-shadow: 0px 0px 5px 0px #0ff;
  /* text-shadow: 2px 2px 4px #000000; */
}
#title{
  font-size: 25px;
}

#search{
  /* align-items: center; */
  margin:15px;
  /* box-shadow: 10px 0px 5px 1px #0ff; */
  /* border-radius: 5px; */
}

#coin{
  /* align-items: center; */
  /* width:auto; */
  border-radius: 5px;
  width: 100%;
  border:none;
  font-size: 20px;
  box-shadow: 0px 0px 5px 1px whitesmoke;
}

#coin-card{
  /* border:1px solid red; */
  margin-top: 58px;
  background-color: gainsboro;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#each-card{
  background-color: white;
  margin:10px 0;
  padding: 12px;
  border-radius: 5px;
  flex-basis: 20%;
  box-shadow: 3px 2px 5px 0px rgb(144, 196, 166);
  /* box-shadow: 5px 10px ; */
}

img{
  /* border: 1px solid black; */
  padding:20px;
  border-radius: 5px;
  background-color: gainsboro;
  /* align-items: center; */
  /* width:85%; */
  /* width:50%; */
}
.label{
  margin: 5px;
}
.label-heading{
  display: inline;
  font-weight: bold;
}

#card-details{
  align-self: flex-start;
  margin-top: auto;
}

@media screen and (max-width:541px){
  #coin-card{
    /* border:1px solid red; */
    margin-top: 90px;
    background-color: gainsboro;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #title{
    display: none;
    /* font-size: 20px; */
  }
  button{
    padding:5px 10px;
    margin:0 5px;
    cursor: pointer;
    border:none;
    border-radius: 3px;
    font-size: 15px;
    margin-bottom: 10px;
  }
}